/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    font-family: "Bevan";
    font-size: 120px;
    font-weight: 400;
    line-height: 130px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 75px auto 0;
    text-shadow: 0px 0px 0 rgb(-14, 144, 41), -1px 1px 0 rgb(-19, 139, 36),
        -2px 2px 0 rgb(-23, 135, 32), -3px 3px 0 rgb(-27, 131, 28),
        -4px 4px 0 rgb(-32, 126, 23), -5px 5px 0 rgb(-36, 122, 19),
        -6px 6px 0 rgb(-40, 118, 15), -7px 7px 0 rgb(-45, 113, 10),
        -8px 8px 0 rgb(-49, 109, 6), -9px 9px 0 rgb(-53, 105, 2),
        -10px 10px 0 rgb(-58, 100, -3), -11px 11px 0 rgb(-62, 96, -7),
        -12px 12px 0 rgb(-67, 91, -12), -13px 13px 0 rgb(-71, 87, -16),
        -14px 14px 0 rgb(-75, 83, -20), -15px 15px 0 rgb(-80, 78, -25),
        -16px 16px 0 rgb(-84, 74, -29), -17px 17px 0 rgb(-88, 70, -33),
        -18px 18px 0 rgb(-93, 65, -38), -19px 19px 0 rgb(-97, 61, -42),
        -20px 20px 0 rgb(-101, 57, -46);
}
h1 span {
    position: relative;
}
h1 span:first-child {
    z-index: 15;
}
h1 span:nth-child(2) {
    z-index: 14;
    text-shadow: 0px 0px 0 rgb(167, 42, 152), -1px 1px 0 rgb(162, 37, 147),
        -2px 2px 0 rgb(158, 33, 143), -3px 3px 0 rgb(154, 29, 139),
        -4px 4px 0 rgb(149, 24, 134), -5px 5px 0 rgb(145, 20, 130),
        -6px 6px 0 rgb(141, 16, 126), -7px 7px 0 rgb(136, 11, 121),
        -8px 8px 0 rgb(132, 7, 117), -9px 9px 0 rgb(128, 3, 113),
        -10px 10px 0 rgb(123, -2, 108), -11px 11px 0 rgb(119, -6, 104),
        -12px 12px 0 rgb(114, -11, 99), -13px 13px 0 rgb(110, -15, 95),
        -14px 14px 0 rgb(106, -19, 91), -15px 15px 0 rgb(101, -24, 86),
        -16px 16px 0 rgb(97, -28, 82), -17px 17px 0 rgb(93, -32, 78),
        -18px 18px 0 rgb(88, -37, 73), -19px 19px 0 rgb(84, -41, 69),
        -20px 20px 0 rgb(80, -45, 65);
}
h1 span:nth-child(3) {
    z-index: 19;
    text-shadow: 0px 0px 0 rgb(42, 142, 167), -1px 1px 0 rgb(37, 137, 162),
        -2px 2px 0 rgb(33, 133, 158), -3px 3px 0 rgb(29, 129, 154),
        -4px 4px 0 rgb(24, 124, 149), -5px 5px 0 rgb(20, 120, 145),
        -6px 6px 0 rgb(16, 116, 141), -7px 7px 0 rgb(11, 111, 136),
        -8px 8px 0 rgb(7, 107, 132), -9px 9px 0 rgb(3, 103, 128),
        -10px 10px 0 rgb(-2, 98, 123), -11px 11px 0 rgb(-6, 94, 119),
        -12px 12px 0 rgb(-11, 89, 114), -13px 13px 0 rgb(-15, 85, 110),
        -14px 14px 0 rgb(-19, 81, 106), -15px 15px 0 rgb(-24, 76, 101),
        -16px 16px 0 rgb(-28, 72, 97), -17px 17px 0 rgb(-32, 68, 93),
        -18px 18px 0 rgb(-37, 63, 88), -19px 19px 0 rgb(-41, 59, 84),
        -20px 20px 0 rgb(-45, 55, 80);
}
h1 span:nth-child(4) {
    z-index: 18;
    text-shadow: 0px 0px 0 rgb(221, -5, 59), -1px 1px 0 rgb(216, -10, 54),
        -2px 2px 0 rgb(212, -14, 50), -3px 3px 0 rgb(208, -18, 46),
        -4px 4px 0 rgb(203, -23, 41), -5px 5px 0 rgb(199, -27, 37),
        -6px 6px 0 rgb(195, -31, 33), -7px 7px 0 rgb(190, -36, 28),
        -8px 8px 0 rgb(186, -40, 24), -9px 9px 0 rgb(182, -44, 20),
        -10px 10px 0 rgb(177, -49, 15), -11px 11px 0 rgb(173, -53, 11),
        -12px 12px 0 rgb(168, -58, 6), -13px 13px 0 rgb(164, -62, 2),
        -14px 14px 0 rgb(160, -66, -2), -15px 15px 0 rgb(155, -71, -7),
        -16px 16px 0 rgb(151, -75, -11), -17px 17px 0 rgb(147, -79, -15),
        -18px 18px 0 rgb(142, -84, -20), -19px 19px 0 rgb(138, -88, -24),
        -20px 20px 0 rgb(134, -92, -28);
}
.o {
    display: inline-block;
    margin-left: 10px;
    margin-right: 2px;
    -ms-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.e {
    padding-left: 2px;
}
p {
    font-family: "Roboto Condensed";
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-left: -8px;
}
a,
a:visited {
    text-decoration: none;
    border-bottom: 1px solid red;
}
a:hover {
    color: red;
}

.happy_animate {
    transform-style: preserve-3d;
    animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
    animation-fill-mode: forwards;
    transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.header {
    font-size: 25px;
    color: #9a2a03;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    text-shadow: 0 0 1px black;
}

.header--animation {
    color: rgb(236,70,102);
    animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img.text-content {
    margin: 30px 0 30px 0;
    width: 80vw;
    max-width: 350px;
}

.show-module-wrapper {
    background: rgba(0, 0, 0, 0.6);
    z-index: 6;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.share-module {
    display: flex;
    color: white;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    max-width: 375px;
}

.button {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 36px;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: inherit;
    cursor: pointer;
    min-width: 64px;
    padding: 0 8px;
    position: relative;
    outline: 0;
    border: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transform: translate3d(0, 0, 0);
    font-size: 15px;
    border-radius: 2px;
}

.color-green {
    background: #25d366 !important;
    color: #fff;
}

.color-blue {
    background: #3b5998 !important;
    color: #fff;
}

.color-red {
    background: #f44336 !important;
    color: #fff;
}
.show-form-btn {
    font-size: 18px;
    font-weight: 400;
    padding: 0 30px;
    border-radius: 50px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

.show-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -15px 0 60px 0;
}

.logo {
    width: 40px;
    padding: 0 7px;
}

.promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    opacity: 0.8;
}

.my-form-block {
    margin-top: 30px;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*form modal*/

#form-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    z-index: 100;
    background: white;
}

#form-modal.default {
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.5s, visibility 0s 0.5s;
}

#form-modal.open {
    visibility: visible;
    transform: translateY(0%);
    transition: transform 0.5s;
}

#form-modal .top-bar {
    height: 25%;
    width: 100%;
    background-color: rgb(255, 163, 0);
    position: absolute;
    top: 0;
    left: 0;
}


.close-form-btn {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 10px;
    top: 11px;
    border: none;
    outline: none;
    z-index: 100;
    cursor: pointer;
    background: white;
}

#name-input {
    padding: 5px;
    font-size: 16px;
}

#show-name {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 5px;
    animation: swing 1s infinite, glow 20s infinite;
}

button {
    outline: none !important;
    webkit-tap-highlight-color: transparent !important;
}

.arrow {
    font-size: 18.5px;
    animation: infiniteShake 0.5s infinite;
    animation-timing-function: ease-in-out;
}

@media screen and (max-width: 350px) {
  .arrow {
     font-size: 14.5px;
  }
}
@keyframes ಠ_ಠ {
    100% {
        transform: rotateY(-40deg) rotateX(-43deg);
    }
}
@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 30px red;
    }
    25% {
        text-shadow: 0 0 30px orange;
    }
    50% {
        text-shadow: 0 0 30px forestgreen;
    }
    75% {
        text-shadow: 0 0 30px cyan;
    }
}



@keyframes swing {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}


@keyframes infiniteShake {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
}

h1 {
    font-family: 'Corben', cursive;
    font-size: 6rem;
    color: white;
    letter-spacing: 0.1rem;
    text-shadow: 0px 3px 3px rgba(1, 0, 0, 0.66);
  }
  .hero {
    min-height: 30rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .hero__content {
    position: relative;
    align-self: center;
    padding: 3rem 0;
  }
  .snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 20.5s infinite linear;
  }
  #snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 15s infinite linear;
  }
  #snow-third-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 15s infinite linear;
  }
  @keyframes fall {
    100% {
      transform: translateY(0);
    }
  }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
